ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 140px;
}

ul#menu a {
  display: block;
  text-decoration: none;	
}

ul#menu li {
    margin-top: 1px;
    font-size:0.7em;
}

ul#menu li a {
  background: #ddd;
  color: #000;	
  padding: 0.5em;
}

ul#menu li a:hover {
  background: #ccc;
}

ul#menu li ul li a {
  background: #eee;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
