html{
    font-size:100%;
}
    
body{
    margin:0px auto;
    background-color:#333;
    font-family: Century Gothic, arial, verdana, sans-serif;
}

#box{
    background-color:#fff;
    width:70%;
    margin:0 auto;
    max-width:1200px;
    min-width:800px;
}

@font-face{
    font-family:titles;
    src: url('../fonts/BorisBlackBloxx.ttf');
}

@font-face{
    font-family:codesnippets;
    src: url('../fonts/anonymous_pro.ttf');
}

#header{
    font-family:titles;
    color:#111;
    text-align:left;
}

#header h1{ 
    font-size:6em;
    text-align:center;
}

#header h2{ 
    font-size:3em;
    text-indent:10px;
    background-color:gray;
    border-top:2px black solid;
    border-bottom:2px black solid;
}

#header h3{ 
    font-size:1.5em;
    text-indent:10px;
    margin-left:5%;
    border-top:2px black solid;
    border-bottom:2px black solid;
    background-color:#ddd;
}

#header h4{ 
    font-size:1em;
    text-indent:10px;
    border-bottom:2px black solid;
    border-top:2px black solid;
    background-color:#eee;
    margin-left:10%;
}

#header h5{ 
    font-size:1em;
    border-bottom:2px black solid;
    margin-left:15%;
}

#content{
    min-width:500px;
    margin:0 auto;
    text-align:justify;
}

#content p{
    padding-top:15px;
    line-height:25px;
    font-size:1em;
    width:70%;
    margin:0 auto;
    font-size:1em;
    letter-spacing:1px;
    font-weight:400;
}

#content p:first-letter{
    font-size:2em;
    float:left;
}

#content div.list, #content div.indent{
    margin:0 auto;
    width:70%;
}

#content div.list li, #content div.indent li{
    padding:5px;
    line-height:25px;
    letter-spacing:1px;
    font-size:1em;
}

#content div.indent li{
    list-style:none;
}

/* Table stuff */
#content table{
    margin:0 auto;
    margin-top:20px;
    width:70%;
    background-color:#ccc;
    border:1px black solid;
}

#content table td{

}

#content table caption{
    font-size:0.7em;
    font-weight:bold;
    text-align:left;
}

/* Code snippets */
code{
    font-family:codesnippets;
    font-size:1.1em;
    font-weight:bold;
}

div .snippet{
    margin-bottom:10px;
    margin-top:10px;
    border-radius:10px;
    color:black;
    padding:5px;
    font-size:1.0em;
    border:1px gray dashed;
    white-space:nowrap;
    overflow-x:scroll;
}

img{
    border:2px black solid;
    padding:5px;
    margin:0 auto;
    margin-left:auto;
}

.warn{
    font-variant:small-caps;
    width:30%;
    font-size:0.8em;
    float:right;
    margin:15px;
    margin-right:0px;
    margin-bottom:2px;
    background-color:#ddd;
    border:1px gray solid;
    border-radius:10px;
    padding:10px;
}

.warn img{
    border:none;
}

.figure{
    width:70%;
    margin:0 auto;
    margin-top:20px;
}

.figure .caption{
    font-size:0.7em;
    font-weight:bold;
    text-align:left;
}

#content a:link{
    color:black;
    text-decoration:none;
    border-bottom:2px black dashed;
}
#content a:visited{
    color:#aaa;
    text-decoration:none;
    border-bottom:3px gray solid;
}

#content a:hover{
    border-bottom:5px black solid;
}

#content a:active{
    border-bottom:5px black solid;
}

.xmltag{
    font-family:codesnippets;
    font-weight:bold;
}

.xmltagcontent{
    color:gray;
}

.xmlpart{
    border-right:10px gray solid;
    background-color:#eee;
}

.tab{
    text-indent:10px;
}

#menumap{
    position:fixed;
    left:-295px;
}

#menumap_out{
    position:fixed;
}

.rttTable .header td{
    font-weight:bold;
}

.rttTable td{
    padding:10px;
    font-size:0.7em;
    background-color:#eee;
    font-weight:normal;
}

.insertedObject{
    border-left:2px #444 dotted;
    line-height:15px;
    padding-left:5px;
}

.insertedObject .caption{
    font-size:0.7em;
    font-weight:bold;
}

#combi-table td{
    margin:0 auto;
    text-align:center;
    padding:5px;
}

#combiheader, #libtoolsHeader{
    background-color:#aaa;
    font-weight:bold;
    text-align:center
}

#libtools_table{
    width:100%;
}

#libtools td{
    margin:0 auto;
    text-align:left;
    padding:5px;
    vertical-align:top;
    font-size:1em;
}
#warning{
    color:red;
    background-color:yellow;
}

#libtoolsList{
    width:70%;
    margin:0 auto;
}

#libtoolsList .libtool{
    background-color:#ccc;
    padding:10px;
    border-radius:15px;
}

#libtoolsList .libtoolName{
    font-weight:bold;
    border-radius:10px;
    font-size:1.1em;
    padding:5px;
    background-color:#aaa;
}

.libtool .snippet{
    font-size:1em;
    background-color:#ddd;
    
}
#libtoolsList .libtoolName span{
    font-weight:normal;
    font-style:italic;
    font-size:0.8em;
}

#libtoolsList .caption{
    font-size:0.7em;
    font-weight:bold;
    text-align:left;
}

